*{margin:0;padding:0;}
body{font-size: 0.24rem;overflow: hidden;}
body,html{width: 100%;height: 100%;position: relative;}
input,span,a{list-style: none;background:none; outline:none; border:0px;}
button{border:0px;background-color:transparent;outline:none;}
.p1.active{display: block;}
.p1,.p2,.p3,.p4,.p5,.p6{display: none;position: relative; width: 100%;height: 100%;}
.mengban,.rule,.people_info{display: none;}
.container{width:auto;height:100%;}
.tip_box{position: absolute;left:10%;width: 6.08rem;z-index: 4;border-radius: 0.2rem;background-image: url(../images/tip_box_bg.png); background-size: 100%;background-repeat: no-repeat;background-position: left top;}
.bg{height: 100%;width:100%;background-image: url(../images/p1_bg.png);background-size: auto 100%;background-repeat: no-repeat;background-position: left top;position: relative;}
.tip_text{font-size: 0.29rem;color: #6a6a6a;text-align: center;font-weight: bold;}
.mengban{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity: 0.6;z-index: 3;}
.close_btn{width: 0.26rem;height: 0.26rem;position: absolute;top: 0.26rem;right: 0.26rem;background-image: url(../images/close_btn.png);background-size: 100%;background-repeat: no-repeat;background-position: left top;}
.logo{
	position: absolute;
	width: 3.35rem;
	height: 0.6rem;
	left: 0.5rem;
	top: 0.5rem;
	background-image: url(../images/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left top;
}
/*变量控制同页面元素*/
.p2_text_show,.help_type1_title2,.p2_btn{display: none;}
.p2_text_show.active,.help_type1_title2.active,.p2_btn.active{display: block;}
/*p1*/
.help_start{
	padding-top: 32%;
    background-image: url(../images/help_p1_bg.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    position: relative;
}
.help_title{
	width: 6.3rem;
    height: 2.6rem;
    margin: 0 auto;
    background-image: url(../images/help_p1_title.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left top;
}
.choose_award{
	position: absolute;
	top: 30%;
	left:30%;
}
.award_img{
	height: 3.27rem;
	width: 3rem;
	background-image: url(../images/re_award1.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

.award_text{
	font-size: 0.24rem;
	width: 100%;
	text-align: center;
	color:#6a6a6a;
}
.award_name{
	font-size: 0.35rem;
	margin-top: 0.26rem;
}
.award_text2{
	color: #fe8739;
	font-size: 0.46rem;
	font-weight: bold;
	/*font-size: 0.28rem;*/
}
.input_box{
	top: 58%;
	width: 4.65rem;
	right: 50%;
	position: absolute;
	transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -o-transform: translateX(50%);
    -o-transform: translateX(50%);
}
.input_text{
	height: 0.83rem;
	border-radius: 0.15rem;
	background-image: url(../images/input_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
	color: #fff;
	font-size: 0.24rem;
	line-height: 0.83rem;
	text-indent:0.25rem;
}
::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
}

input:-ms-input-placeholder{
    color: #fff;
}

input::-webkit-input-placeholder{
    color: #fff;
}
.phone_text{
	width: 100%;
	margin-bottom: 0.16rem;
}
.number_text{
	width: 2.6rem;
	float: left;
	margin-right: 0.16rem;
}
.get_number{
	background-image: url(../images/input_btn_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
	width: 1.85rem;
	float: left;
	text-indent:0rem;
}
.p1_help_btn{
	width: 4.22rem;
	height: 1.28rem;
	position: absolute;
	bottom: 21%;
	left: 22%;
	background-image: url(../images/help_p1_btn.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
}
.want_text{
	position: absolute;
	bottom: 18.6%;
	color: #f97d84;
	width: 100%;
	height: 0.28rem;
	text-align: center;
}
.warn_tip1{
	top: 31.8%;
	background-image: url(../images/help_tip1_bg.png);
    width:6.18rem;
    height: 4.06rem;
}
/*.warn_text{
	font-size: 0.4rem;
	color: #656161;
	width: 86%;
	margin:0.97rem auto 0.34rem auto;
	text-align: center;
}
.warn_text2{
	color: #fc545c;
}*/
.help_out_btn{
	background-image: url(../images/help_out_btn.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    width: 3.34rem;
    height: 0.99rem;
    margin:0 auto;
    display: block;
    margin-top: 2.5rem;
}

/*p2*/
.help_type{
	padding-top: 30%;
}
.tip_btn{
	position: absolute;
	width: 1.55rem;
	height: 0.5rem;
	right: 0;
	top: 0.5rem;
	background-image: url(../images/tip_btn.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left top;
}
.p2_title{
	width: 88.6%;
	height: 2.52rem;
	margin:0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    display: none;
    margin-bottom: 1.5rem;
}
.p2_title.active{display:block;}
.help_type1_title1{background-image: url(../images/help_type1_title1.png);}
.help_type2_title1{background-image: url(../images/help_type2_title1.png);}
.help_type3_title1{background-image: url(../images/help_type3_title1.png);}
.help_type4_title1{background-image: url(../images/help_type4_title1.png);}
.help_type5_title1{background-image: url(../images/help_type5_title1.png); margin-bottom: 23%;}
.help_type6_title1{background-image: url(../images/help_type6_title1.png); margin-bottom: 23%;}
.go_gonglue{
	/*margin: 0.74rem auto 0.58rem auto;*/
	margin: 0 auto 8% auto;
	font-size: 0.35rem;
	color: #fc545c;
	width: 3.2rem;
	text-align: center;
}
.help_type1_title2{
	width: 40%;
	height: 1.65rem;
	margin:0 auto;
	margin-top: 1rem;
	background-image: url(../images/help_type1_title2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left top;
}
.p2_btn{
	width: 4.58rem;
	height: 1.27rem;
	margin:2% auto;
	background-image: url(../images/help_type1_btn.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
    display: none;
}
.p2_tex1{
	font-size: 0.46rem;
	font-weight: bold;
}
/*.p2_btn.active{display: block;}*/
.help_type1_btn{background-image: url(../images/help_type1_btn.png);}
.help_type2_btn{background-image: url(../images/help_type2_btn.png);margin-top: 30%;}
.help_type3_btn{background-image: url(../images/help_type3_btn.png);margin-top: 26%;}
.p2_tip{
	top: 30.5%;
	width: 83%;
	height: 4.08rem;
	left: 8%;
}
.fail_tip1{
	background-image: url(../images/fail_tip_bg.png);
}
.p2_tip_out{
	margin:auto;
	display: block;
	margin-top: 2.5rem;
	width: 3.3rem;
	height: 0.98rem;
	background-image: url(../images/help_out_btn.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
}
.p2_tip{
	padding-top: 1rem;
}
.fail_tip2>p{
	font-size: 0.36rem;
	color: #6a6a6a;
	width: 100%;
	text-align: center;
	font-weight: bold;
}
.p2_text2{
	font-size: 0.45rem;
}
.p2_tip2_out{
	width: 1.88rem;
	height: 0.66rem;
	margin:auto;
	display: block;
	margin-top: 0.5rem;
	background-image: url(../images/p2_out_btn2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
}
.skill_tip{
	background-image: url(../images/skill_tip_bg.png);
	top: 18%;
	height: 7.71rem;
	width: 90%;
	margin:auto;
	left: 5%;
	padding-top: 0.88rem;
}
.zhuli_skill{
	margin:auto;
	width: 5.9rem;
	height: 5.97rem;
	background-image: url(../images/zhuli_skill.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}




