body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
figure {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}

body {
    background: #fff;
    font: 15px/1;
    color: #333;
    -webkit-font-smoothing: antialiased;
    /* -webkit-text-size-adjust: none; */
    -webkit-touch-callout: none;
    -webkit-user-select: text;
    -webkit-touch-callout: none;
    word-break: break-all;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit
}

input,
select,
form,
img {
    vertical-align: middle;
    outline: none;
}

a,
button,
input,
textarea,
a:focus,
button:focus,
input:focus,
textarea:focus,
[onclick] {
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}

a {
    -webkit-touch-callout: none;
    text-decoration: none;
    color: #000;
    outline: 0;
}

html {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

body {
    width: 100%;
    overflow-x: hidden;
}


/*header*/

.header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 999;
    text-align: center;
    background-color: #fff;
    overflow: visible;
    top: 0;
    border-bottom: 1px solid #e8e8e7;
    /*background: url(../images/skin/header_bg.png) no-repeat;*/
}

.header .logo {
    width: 139px;
    height: 47px;
    margin-top: 22px;
}
.header .logo_dangban{
    width: 139px;
    height:55px;
    position: absolute;
    left: 0;
    right:0;
    margin:0 auto;
    top:1%;
}

.header .search {
    height: 100%;
    width: 640px;
    position: absolute;
    left: 0;
    top: 0;
    /* background-color: #fff; */
    transition: all .3s;
    -webkit-transition: all .3s;
    z-index: 1;
    transform: translate3d(-540px, 0, 0);
    -webkit-transform: translate3d(-540px, 0, 0);
    text-align: left;
}

.header .search.active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.header #search {
    width: 450px;
    height: 50px;
    padding-top: 0px;
    border-bottom: 1px #ccc solid;
    float: left;
    font-size: 24px;
    line-height: 60px;
    margin-top: 10px;
    margin-right: 22px;
    color: #aaa;
}

.header #btn_search {
    width: 60px;
    height: 60px;
    background: url(../images/search_icon_2.png) no-repeat center center;
    margin-top: 10px;
    float: left;
}

.header #btn_close {
    width: 60px;
    height: 100%;
    font-size: 52px;
    color: #b7b7b7;
    line-height: 80px;
    float: left;
    text-align: center;
    margin-right: 12px;
    margin-left: 12px;
}

.header .menu {
    position: absolute;
    margin-right: 18px;
    height: 45px;
    width: 45px;
    padding: 22px 12px 8px;
    right: 0;
    top: 0;
    box-sizing:content-box;
}

.active.header .menu {
    z-index: 9999;
}

.menu .line {
    width: 100%;
    height: 2px;
    background-color: #b5b5b5;
    overflow: hidden;
    opacity: 1;
    transition: all .5s;
    -webkit-transition: all .5s;
    margin: .5px 0;
}

.active.header .menu .line {
    background-color: #fbfbfb;
}

.menu .line_mid {
    width: 80%;
    /* background-color: #bfbfbf; */
    margin: 16px 0 16px 20%;
}

.active .menu .line_top {
    transform: rotate(45deg) translate3d(2px, 0px, 0);
    -webkit-transform: rotate(45deg) translate3d(2px, 0px, 0);
    transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
}

.active .menu .line_bottom {
    transform: rotate(-45deg) translate3d(2px, 0px, 0);
    -webkit-transform: rotate(-45deg) translate3d(2px, 0px, 0);
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
}

.active .menu .line_mid {
    opacity: 0;
    transform: translate3d(60px, 0, 0) scaleX(.1);
    -webkit-transform: translate3d(60px, 0, 0) scaleX(.1);
    transform-origin: 25% center;
    -webkit-transform-origin: 25% center;
}

.head_nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    transform: translate3d(-660px, 0, 0);
    -webkit-transform: translate3d(-660px, 0, 0);
    transition: all .5s;
    -webkit-transition: all .5s;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 5px 0px 15px #000;
    background-image: url(../images/logo_white.png);
    background-repeat: no-repeat;
    background-position: 50% 23px;
    background-size: 117px 40px;
    padding-top: 140px;
    text-align: left;
    overflow: auto;
}

.active .head_nav {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.nav dl {
    margin: 0 26px 0 26px;
    border-bottom: 1px #ddd solid;
}

.nav a {
    color: #fff;
    line-height: 70px;
    display: inline-block;
    font-size: 24px;
    /*font-weight: lighter;*/
}

.nav p {
    margin-top: 60px;
    text-align: center;
}

.nav p a {
    margin:0 10px;
    line-height: 60px;
    padding:0 80px;
    border:1px solid #fff;
    border-radius: 5px;
}

.nav dd {
    transition: height .5s;
    -webkit-transition: height .5s;
    height: 0px;
    overflow: hidden;
}

.nav dl.show dd {
    height: 72px;
}

.nav dd a {
    padding-left: 24px;
    display: block;
    font-size: 20px;
    color: #eee;
    border-bottom: 1px #999 solid;
}

.nav dd a.last {
    border: none;
}

.nav .arrow {
    color: #fff;
    font-weight: lighter;
    float: right;
    line-height: 70px;
    font-size: 22px;
    transform: scaleY(1);
    transform-origin: 50% 55%;
    -webkit-transform: scaleY(1);
    -webkit-transform-origin: 50% 55%;
    margin-right: 4px;
}

.nav .show .arrow {
    -webkit-transform: scaleY(1) scaleX(1) rotate(90deg);
}


/*footer*/

.footer .qr_code {
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    padding: 60px 0 30px;
    color: #686868;
}

.qr_code img {
    margin: 24px auto;
}

.footer .contact {
    margin-top: 40px;
}

.contact a {
    background: url(../images/footer_contact.png) no-repeat;
    background-size: 288px 42px;
    height: 80px;
    width: 80px;
    border: 1px #cecece solid;
    display: inline-block;
    border-radius: 100%;
    margin: 0 20px;
}

.contact .qq {
    background-position: 20px 18px;
}

.contact .weibo {
    background-position: -222px 18px;
}

.contact .weixin {
    background-position: -101px 18px;
}

.foot_nav a {
    color: #000;
}

.foot_nav .arrow {
    color: #aaa;
}

.foot_nav dd a {
    color: #555;
}

.foot_nav dd a {
    border-bottom: 1px #e5e5e5 solid;
}

.footer .bar {
    height: 85px;
    width: 100%;
    background-color: #e9e9e9;
    line-height: 85px;
    color: #a6a2a2;
    text-align: center;
    font-size: 20px;
}
.footer_mianze{
    font-size: 14px;
    color: #808080;
    text-align: left;
    width: 620px;
    height: 97px;
    line-height: 1.3;
    padding: 20px 10px 35px 10px;
    border-top: 1px solid #e5e5e5;
}
.footer_mianze_top{
    text-align:center;
    color: #000;
}
.footer .change_language_btn{
    background:none;
    position: absolute;
    border: 1px solid #dadada;
    text-align: center;
    width: 100px;
    height: 40px;
    margin-top: 22px;
    margin-left: 10px;
    padding: 0;
    z-index: 1;
    /* top: 25.5px; */
    /* right: 110px; */
    display: inline;
}
.footer .change_language{
    display: block;
    width: 100%;
    height:100%;
    line-height: 1.8;
    color: #009944;
    font-weight:bold;
}
.en_hide {
    display: none !important;
}
.header_bottom{
    height: 0.31rem;
    position: absolute;
    bottom: -3%;
}
/*.part-1{
    background: url(../images/skin/part-1-bg.png) no-repeat;
    background-size: 100% 100%;
}*/
/*.clearfix .item>a{color: #fff;}*/
.t2>a>span{color: #fff;}